<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
internalLogLevel="Off">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="LogsDir" value="${environment:LogDirectory}"/>
	<variable name="DefaultLayout" value="${newline}${level:uppercase=true}|${longdate}|${logger}:${newline}${message}${exception:format=tostring}"/>
	<variable name="ServiceName" value="ProductServer"/>

	<targets>
		<target xsi:type="ColoredConsole" name="console" useDefaultRowHighlightingRules="true" layout="${DefaultLayout}" />
		<target xsi:type="File" name="allfile" fileName="${LogsDir}/${shortdate}_${ServiceName}_ALL.log" maxArchiveFiles="30" layout="${DefaultLayout}" />
		<target xsi:type="File" name="Infofile" fileName="${LogsDir}/${shortdate}_${ServiceName}_INFO.log" maxArchiveFiles="120" layout="${DefaultLayout}" />
		<target xsi:type="File" name="warningErrorfile" fileName="${LogsDir}/${shortdate}_${ServiceName}_WARNING-ERROR.log" maxArchiveFiles="120" layout="${DefaultLayout}" />
		<target xsi:type="Debugger" name="debugger" layout="${DefaultLayout}" />
	</targets>
	
	<rules>
		<logger name="*" minlevel="Warn" writeTo="warningErrorfile" enabled="true" />
		<logger name="*" minlevel="Info" writeTo="Infofile" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="allfile" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="console" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="debugger" enabled="true" />
	</rules>
</nlog>